:root {
    --bg: #eceff4;
    --bg-light: #e5e9f0;
    --bg-lighter: #d8dee9;
    --fg: #2e3440;
    --fg-light: #3b4252;
    --fg-lighter: #434c5e;
    --shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }

  body[data-dark-mode='dark'] {
    --bg: #121212;
    --bg-light: #191919;
    --bg-lighter: #252525;
    --fg: #d8dee9;
    --fg-light: #e5e9f0;
    --fg-lighter: #eceff4;
    --shadow: rgb(15 17 21 / 20%) 0px 3px 6px 0px;
  }

  /* Remaing Styles and needed Over-rides */
  /* .... */