:root {
  --bg: #eceff4;
  --bg-light: #e5e9f0;
  --bg-lighter: #d8dee9;
  --fg: #2e3440;
  --fg-light: #3b4252;
  --fg-lighter: #434c5e;
  --shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

body[data-dark-mode='dark'] {
  --bg: #121212;
  --bg-light: #191919;
  --bg-lighter: #252525;
  --fg: #d8dee9;
  --fg-light: #e5e9f0;
  --fg-lighter: #eceff4;
  --shadow: rgb(15 17 21 / 20%) 0px 3px 6px 0px;
}

/* Remaing Styles and needed Over-rides */
/* .... */

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

button {
  background: var(--bg);
  color: var(--fg);
  border: 2px solid var(--fg);
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: var(--fg);
  transition: all 0.2s ease;
}

button:hover {
  border-color: var(--fg);
  outline: #000;
  cursor: pointer;
  color: var(--bg);
  background: var(--fg);
  box-shadow: var(--shadow);
}

body[data-dark-mode] button:hover {
  background: var(--fg);
  color: var(--bg);
}

button.no-border {
  border: 0;
}

button.icon {
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


button.secondary {
  border:0px;
  background: var(--bg-lighter);
}

button.secondary:hover {
  background: var(--fg);
}

*{
  box-sizing: border-box;
}

.container-bounds {
  max-width: 900px;
  padding: 16px;
}
